
.autocomplete-suggestions { 
    //border: .15rem solid gray; 
    background: $white; 
    overflow: auto;
    position: absolute;
    width:100%;
    top: 100%;
    padding: 0 0;
    border:.15rem solid #eedcdc;
    border-bottom: none;
    box-shadow: 0 .2rem .2rem 0 #b0b0b0;
}

.autocomplete-suggestion { 
    //border: 1px solid black;
    font-size: 1.5rem;
    font-weight:500;
    padding: 0 0;
    white-space: nowrap; 
    overflow: hidden;
    padding: 1rem;
    cursor: pointer;
   
}

.autocomplete-selected { 
    background-color: #F0F0F0; 
}

.autocomplete-suggestions strong { 
    font-weight: 500; 
    color: $primary; 
}


.msg{
    //border: 1px solid black;
    padding: 1rem 0;

    &--success{
        background-color: $primary;
    }

    &--info{
        background-color: #fb9932;
    }

    &__container{
        //border: 1px solid black;
    }

    &__content{
       // border: 1px solid black;
    }
    
    &__text{
        text-align: center;
        color: $white;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
        span{
            color: #23263adb;
            font-weight: 500;
            cursor:pointer;

            &:hover{
                color: $secondary;
            }
        }
    }
    
    &__icon{
        color: $secondary;
        margin: 0 .5rem 0 0;
    }

    &__link{
        display: inline-block;
    }

    &__link--resend{   
        color: #23263ab8;

        &:hover{
            color: $secondary;   
        }
    }
}




.ph{//primary header
    margin: 0 0 0 0;
    position: sticky;
    top: 0;
    z-index: 200;
}

.ph-nav{
    //border: 1px solid black;
    border-bottom: .15rem solid #eeeeee;
    padding: 1.5rem 0;
    background-color: $white;
    position: relative;

    &__container{
        display: flex;
        padding: 0 3rem;
    }

    //nav buttons
    &__btn{
        border: none;
        display: inline-block;
        background-color: transparent;

        &--search-sm{
            padding: .5rem 1rem;
            color: $secondary;
            font-size: 2rem;
        }
    
        &--form-submit{
            height: 100%;
            font-size: 2rem;
            padding: 0 1rem;
            color: $white;
            background-color: $primary;

            @media (max-width: 767px){

                &{
                    height: 100%;
                    font-size: 2rem;
                    padding: 0 1rem;
                    color: #626262;
                    background-color: #e1e1e1;
                    &:hover,
                    &:focus{
                        color: $secondary;
                    }
                }
            }
        }

        &--form-close{
            height: 100%;
            padding: 0 1rem;
            font-size: 2rem;
        }

        &--bell{
            font-size: 2rem;
            padding: .5rem 1rem;
            position: relative;
            //background-color: red;
        }

        &--login{
            font-size: 1.6rem;
            font-weight: 400;
            border: none;
            color: $btn-primary-text;
            background-color: $btn-primary-bg;
            padding: 1rem 2rem;
            text-transform: capitalize;
            letter-spacing: .05rem;
            cursor: pointer;
            border-radius: .25rem;
            transition: all 200ms ease-in-out;
            text-align: center;
            &:hover,
            &:focus{
                color: $btn-primary-text;
                background-color:$btn-primary-hover;
            }

            @media (max-width: 991px) {
                
                &{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    border: .2rem solid $primary;
                    color: $primary;
                    background-color: transparent;
                    font-size: 2rem;
                    padding: 0;
                    display: flex;
            
                    i{
                        margin: auto;
                    }
    
                    span{
                        display: none;
                    }
    
                    &:hover{
                        background-color: $primary;
                        color: $white ;
                    }
                    
                }
                    
            }
        }
    }
    
    &__link{
        font-size: 1.4rem;
        font-weight: 500;
        display: inline-block;    

        &--dfl{
            margin: 0 auto;
            color: $primary;
            
            &:hover{
                color: $primary;
            }
        }
    }

    
    &__badge{
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 600;
        color: $white;
        background-color: $primary;
        position: absolute;
        top: -1px;
        right: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    //Main Element
    &__logo{
        //border: 1px solid black;
        margin: auto auto auto 0;
        a{
            // border: 1px solid red;
            width: 100%;
            display: block;
        }

        img{
            width: 15rem;
            height: auto;
            display: block;
            object-fit: cover;
            object-position: center center;
        }
    }

    //Main Element
    &__search-box{
        flex-basis: 60rem;
        //border: 1px solid black;
        display: flex;
        margin: auto 0;
        
        @media (max-width: 767px) {

            &{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left:0;
                right: 0;
                z-index: 300;
                background-color: #eeeeee;
                display: none;
                padding: 0 1.5rem;
            }

            &--show{
                display: flex;
            }
        }
        
    }


    &__form{
        width: 100%;
        margin: auto 0;
        
        &-wrap{
            display: flex;
        }
        
        &-field-wrap{
            width: 100%;
            margin: auto 0;
            display: flex;
        }

        &-field{

            &--search{
                width: 100%;
                margin: auto 0;
                position: relative;
            }
    
            &--submit{
                //border: 1px solid black;
            }
        }

        &-input{
            width: 100%;
            height: 5rem;
            font-size: 1.6rem;
            font-weight: 500;
            padding: 0 1rem;
            border: .15rem solid #eeeeee;
            background-color: transparent;
            &:focus{
                border-color: $primary;
            }
        }

        @media (max-width: 767px) {

            &-field-wrap{
                //border: 1px solid black;
                background-color: $white;
            }

            &-input{
                border-color: transparent;
            }
        }
    

    }


    //Main Element
    &__acts{
        //border: 1px solid black;
        margin: auto 0 auto auto;
        display: flex;
    }

    &__act{
        //border: 1px solid red;
        margin: auto 0;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    
    &__act--2{
        display: flex;
        //border: 1px solid black;
    }
    
    &__dropdown{
        // border: 1px solid black;
        display: flex;
        position: relative;

        &:not(:last-child){
            margin-right: 2rem;
        }

        &-toggle{
            //border: 1px solid black;
            margin: auto 0;
        }
        
        &-img{
            object-fit: cover;
            object-position: center center;
            display: block;
        
            &--profileimg{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                cursor: pointer;
            }

            &--fromUser{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                margin: 0 .5rem 0 0;
                //border: 1px solid black;
            }

             
            &--post{
                width: 8rem;
                height: 6rem;
                margin: 0 0 0 .5rem;
                //border: 1px solid black;
            }
        }

        &-content{

            border: .15rem solid #eeeeee;
            position: absolute;
            background-color: $white;
            border-radius: .3rem;
            box-shadow: .2rem .2rem .3rem 0 #cacaca;
            display: none;
            transform: scale(0);
            transform-origin: top right;
            transition: transform 150ms ease-in-out;
            z-index: 400;
            //border: 1px solid black;

            &--block{
                display: block;
            }

            &--show{
                transform: scale(1);
            }
            
            &--nf{
                width: 45rem;
                // right: -55%;
                right: -65%;
                top: 155%;
                // display: block;
                // transform: scale(1);
            }
            
            &--menu{
                width: 23rem;
                right: -1.8rem;
                top: 155%;
            }
        }

        &-content-wrap{
            padding-bottom: 1.5rem;
            position: relative;
            //border: 1px solid red;
            &::before{
                content: "";
                width: 3rem;
                height: 3rem;
                background-color: #fff;
                position: absolute;
                top: -1.6rem;
                left: auto;
                transform: rotate(45deg);
                border: .15rem solid #eee;
                border-right: none;
                border-bottom: none;
            }

            
            &--nf{
                //border: 1px solid black;
                height: 60rem;
                max-height: 100%;
                display: flex;
                flex-direction: column;
                &::before{
                    right: 3rem;
                }
            }
            
            &--menu{
                //border: 1px solid black;
                &::before{
                    right: 2.5rem;
                }
            }
        }
        
        &-header{
            //border: 1px solid black;
            &--nf{
                padding: 1.5rem .8rem;
                border-bottom: .15rem solid #eeeeee;
                h5{
                    margin: 0;
                    text-transform: capitalize;
                    color: $secondary;
                }
            }
            
            &--menu{
                padding: 1.5rem 0;
                margin:  0 0 1.5rem 0;
                h6{
                    width: 100%;
                    text-align: center;
                    //border: 1px solid black;
                    font-size: 2rem;
                    font-weight: 600;
                    color: $secondary;
                    margin: 0;
                }
    
                //User Role
                span{
                    width: 100%;
                    font-weight: 1.8rem;
                    font-weight: 500;
                    text-align: center;
                    display: inline-block;
                    //border: 1px solid black;
                }

          
            }
        }

        &-body{
            //border: 1px solid black;

            &--nf{
                //border: 1px solid black;
                height: 100%;
                max-height: 100%;
                overflow: auto;
            }

            &--menu{

            }

        }

        &-snf{

            display: flex;
            border: .1rem solid #eeeeee;
            border-right: none;
            border-left: .3rem solid transparent;
            background-color: $white;
            padding: 1.5rem .8rem;
    
            &:hover{
                border-color:#C1BABA12;
                border-left-color: $primary;
                background-color:#ececec91;
            }

            &-text{
                margin:  0 .5rem;
                //border: 1px solid black;
            }
            
            &-title{
                //border: 1px solid black;
                strong{
                    font-weight: 600;
                    color: #2d2d2d;
                }
                span{
                    font-weight: 500;
                    color: #2d2d2dd1;
                }
            }

            &-time{
                color: #868686;
            }
        }
    
        &-footer{
            //border: 1px solid black;
            border-top: .15rem solid #eeeeee;
            padding: 1.5rem 0 0 0;
            display: flex;
        }

        &-msg{
            // border: 1px solid black;
            margin: 1rem 0 0 0;
            p{
                width: 100%;
                font-size: 1.6rem;
                font-weight: 500;
                color: #4d4e59;
                margin: 0;
                display: flex;
                text-align: center;
                i{
                    color: #fba050;
                    margin: auto .3rem auto auto;
                }
    
                span{
                    margin: auto auto auto .3rem;
    
                }
            }
        }
    }

    

    &__dropdown-list{
        list-style-type: none;
        margin:0;
        padding:0;
    }
    
    &__dropdown-item{
        //border: 1px solid black;
        &:not(:last-child){
            margin-bottom: 1rem;
            border-bottom: .15rem solid #eee;
        }
    }

    &__dropdown-link{

        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        color: #757575;
        padding: 1rem 0 1rem .5rem;
        display: inline-block;
        //border: 1px solid black;
        position: relative;
        transition: all 150ms ease-in-out;

        i{
            width: 3rem;
            text-align: center;
        }

        &::after{
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            background-color:#75757561;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
        }

        &:hover{
            color: $secondary;
        }

        &:hover::after{
            background-color: $secondary;
        }
    }

   
}


.ph-filter{
    width: 100%;
    border-bottom: .15rem solid #eeeeee;
    //border: 1px solid black;
    background-color: $white;
        
    &__slider{
        display: flex;
        //border: 1px solid black;
    }
        
    &__slider-wrap{
        width: 100%;
        max-width: 100%;
        // max-width: 100%;
        padding: 1.5rem .5rem;
        overflow: hidden;
       // border: 1px solid red;
    }

    &__slider-track{
        width: max-content;
        //border: 1px solid blue;
        display: flex;
        transition: transform 150ms ease-in-out;
    }

  
    
    &__btn{
        border: none;
        background-color: transparent;
        font-weight: 500;
        padding: 0;
    }

    &__btn--ctrl{
        //border: 1px solid black;
        padding: 0 1.2rem;
        font-size: 2.5rem;
        color: #626262;
        display: none;
        &:hover,
        &:focus{
            color: $secondary;
        }
    }
    
    &__btn--block{
        display: block;
    }

    &__btn--prev{
        //border-right: .15rem solid #eeeeee;
    }

    &__btn--next{
        //border-left: .15rem solid #eeeeee;
    }

    &__btn--cat{
        color: $secondary;
        // border: .15rem solid $primary;
        border: .15rem solid #dfdddd;
        background-color: #eeeeee87;
        padding: .5rem 1.5rem;
        border-radius: 3rem;
        font-size: 1.6rem;
        text-transform: capitalize;
        &:not(:last-child){
            margin:  0 1rem 0 0;
        }
    }

    &__btn--active{
         border-color: $primary;
        background-color: $primary;
        color: $white;
    }

    
}


