.main-wrap{

    //border: 1px solid red;
    &__sec{
        display: flex;
    }

    &__sidebar{
      
    }


    &__elements{
        width: 100%;
        //border: 1px solid black;
    }
}


.sidebar{
    width: 27rem;
    border-right: .15rem solid #eeeeee;
    //border: 1px solid black;

    @media (max-width: 991px){

        &{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 500;
            display: none;
            transform: translateX(-100%);
            transition: transform 250ms ease-in-out;

        }

        &.sidebar--block{
            display: block;            
        }

        &.sidebar--show{
            transform: translateX(0); 
        }
    }




    &__wrap{
        width: 100%;
        max-width: 100%;
        height: 100vh;
        max-height: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        transform: translateY(0%);
        transition: transform 300ms ease-in-out;
        background-color: #fff;
        //border: 1px solid #000;
    }
    

    //Sidebar global elements
    &__btn{
        border: none;
        background-color: transparent;
        display: block;
    }

    &__btn--close{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        font-size: 1.25rem;
        border: .2rem solid $primary;
        display: flex;
        color: $primary;
        background-color:transparent;
        margin: auto 1rem auto auto;
        padding: 0;
        &:hover{
            color: $white;
            background-color: $primary;
        }
        i{
            margin: auto;
        }
    }

    &__img{
        object-fit: cover;
        object-position: center center;
        display: block;
    }

    &__img--user{
        width: 10rem;
        height: 10rem;
        margin: 0 auto 1rem auto;
        border-radius: 50%;
    }

    &__link{
        //border: 1px solid black;
        display: inline-block;
        position: relative;
    }

    &__link--username{
        width: 100%;
        text-align: center;
       //border: 1px solid black;
        font-weight: 600;
        color: $secondary;
        &:hover{
            color: $primary;
        }
    }

    &__link--option{
        width: 100%;
        padding: 1rem 0 1rem 3.5rem;
        border-bottom: .15rem solid  #eeeeee;
        background-color: $white;
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        position: relative;
        color: #747474;
        &:hover{
            color: $primary;
        }
    }

    &__link--option.sidebar__link--active{

        color: $primary;
        &::after{
        content: "";
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background-color: $primary;
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1rem;
        margin: auto;
        //border: 1px solid black;
        }
    }

    &__close{
        padding: 1.5rem 0;
        display: none;
        //border: 1px solid #000;

        @media (max-width: 991px){

            &{
                display: block;
            }
        }
    }

    &__user-info{
        width: 100%;
        border-bottom: .15rem solid #eeeeee;
        padding: 3rem 0;
    }

    &__title{
        //border: 1px solid black;
        margin: 0;
    }

    &__subtitle{
        width: 100%;
        display: inline-block;
        margin: 0;
        font-weight: 500;
        text-transform: capitalize;
        // border: 1px solid black;
        text-align: center;
    }

  
    &__options{
        height: 100%;
        overflow-y: auto;
        //border: 1px solid red;

        &::-webkit-scrollbar{
            width: .6rem;
            background-color: green;
        }

        &::-webkit-scrollbar-track{
            background-color: #eeeeee;
        }
        &::-webkit-scrollbar-thumb{
            width: 20px;
            background-color: #909090;
        }
    }

    &__option{
        //border: 1px solid black;
    }
    
    &__option-head{
        display: flex;
        //border: 1px solid black;
        display: flex;
        font-size: 1.8rem;
        font-weight: 600;
        color: $secondary;
        background-color: #23263a0a;
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__option-icon{
        width: 5rem;
        text-align: center;
    }

    &__option-title{
        width: 100%;
        margin: auto 0;
    }
    
    &__option-list{
        margin: auto 0;
        padding: 0;
        list-style-type: none;
        //border: 1px solid red;
    }



    &__option-item{
        //border: 1px solid black;
        margin: 0 0 0 0;
        &:last-child{
            a{
                border-bottom: none;
            }
        }
    }  

   
}

.full-box{
    width: 100%;
    height: 100vh;
    background-color: gray;
    z-index: 350;
    position: fixed;
    top: 0;
    right: 0;
}

.navbar{
    border-bottom: .15rem solid#eee;
    //border: 1px solid black;
    display: flex;
    padding: 2rem 3rem;
    background-color: $white;
    position: sticky;
    top: 0;
    z-index: 200;

    &::before{
        content: "";
        width: .15rem;
        position: absolute;
        display: inline-block;
        top: 0;
        bottom: 0;
        left: -.15rem;
        border: .15rem solid $white;
        z-index: 250;
    }

    //global element
    &__link{
        display: inline-block;
        position: relative;
        
        &--logo{
            margin: auto auto auto 0;
            //border: 1px solid black; 
            @media (max-width: 991px){
                &{
                    display: none;
                }
            }
        }

        &--home,
        &--plus{
            //border: 1px solid black;
            color: #626262;
            font-size: 1.8rem;
            padding: .5rem;
            &:hover,
            &:focus{
                color: $secondary;
            }
        }
        
        &--home{
            margin:  0 .5rem 0 0;
        }

        &--plus{
            margin:  0 0 0 .5rem;
        }
           
        &--dropdown{

            width: 100%;
            font-size: 1.6rem;
            font-weight: 500;
            color: #757575;
            padding: 1rem 0 1rem .5rem;
            display: inline-block;
            //border: 1px solid black;
            position: relative;
            transition: all 150ms ease-in-out;

            i{
                width: 3rem;
                text-align: center;
            }
            &::after{
                content: "";
                width: .8rem;
                height: .8rem;
                border-radius: 50%;
                display: inline-block;
                background-color:#75757561;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 10px;
                margin: auto;
            }

            &:hover{
                color: $secondary;
            }

            &:hover::after{
                background-color: $secondary;
            }
            
        }

        &--dfl{
            margin: 0 auto;
            color: $primary;
            &:hover{
                color: $primary;
            }
        }

    }
   
    

    &__toggle{
       // border: 1px solid black;
        margin: 0 auto 0 0;
    }

    &__btn{
        border: none;
        background-color: transparent;
        display: block;
        padding: 0;
        
        &--bars{
            color: #555454;
            font-size: 2.5rem;
            display: none;
            padding: .5rem 1rem;
            &:hover,
            &:focus{
                color: $secondary;
            }
            
            @media (max-width: 991px){
                &{
                    display: block;
                }
            }
        }
        
        &--bell{
            color: #626262;
            font-size: 1.8rem;
            padding: .5rem;

            &:hover,
            &:focus{
                color: $secondary;
            }
        }
    }

    &__badge{

        &--nf{
            width: 1.6rem;
            height: 1.6rem;
            position: absolute;
            top: .3rem;
            right: -.2rem;
            border-radius: 50%;
            font-size: .9rem;
            font-weight: 500;
            color: $white;
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    &__img{
        object-fit: cover;
        display: block;
        object-position: center center;
        //border: 1px solid black;

        &--logo{
            width: 15rem;
            height: auto;
        }
    
        &--loggeduser{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }
    
        &--fromUser{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin: 0 .5rem 0 0;
        }
    
        &--post{
            width: 8rem;
            height: 6rem;
            margin: 0 0 0 .5rem;
        }
    
    }

    
    &__action{
        //border: 1px solid black;
        display: flex;
        margin: 0 0 0 auto;

        &-part{
            //border: 1px solid black;
            margin: auto 0;
        }
    
        &-part--1{
           margin: auto .5rem auto 0;
        }
        
        &-part--2{
            display: flex;
            margin: 0 0 0 .5rem;
        }
    }

    

    &__dropdown{
        //border: 1px solid black;
        margin: auto 0;
        position: relative;

        &--nf{
            //border: 1px solid red;
            margin-right: 1rem;
        }
    
        &--menu{
            margin-left: 1rem;
        }
    
        &-toggle{
            cursor: pointer;
        }
        
        &-content{
            border: .15rem solid #eeeeee;
            position: absolute;
            top: 100%;
            z-index: 1000;
            background-color: white;
            border-radius: .3rem;
            box-shadow: .2rem .2rem .3rem 0 #cacaca;
            display: none;
            transform: scale(0);
            transform-origin: top right;
            transition: transform 150ms ease-in-out;
            z-index: 400;
            
            &--block{
                display: block;
            }
        
            &--show{
                transform: scale(1);
            }
                    
            &--nf{
                width: 45rem;
                right: -100%;
                top: 165%;
                // display: block;
                // transform: scale(1);
            }

            &--menu{
                width: 23rem;
                right: -1.5rem;
                top: 165%;
                // display: block;
                // transform: scale(1);
            }
        }
        
        &-content-wrap{
            padding-bottom: 1.5rem;
            position: relative;
            //border: 1px solid red;
            &::before{
                content: "";
                width: 3rem;
                height: 3rem;
                background-color: #fff;
                position: absolute;
                top: -1.6rem;
                left: auto;
                transform: rotate(45deg);
                border: .15rem solid #eee;
                border-right: none;
                border-bottom: none;
            }
            
            &--nf{
                //border: 1px solid black;
                height: 60rem;
                max-height: 100%;
                display: flex;
                flex-direction: column;
                &::before{
                    right: 3rem;
                }
            }
        
            &--menu{
                //border: 1px solid black;
                &::before{
                    right: 2.5rem;
                }
            }
        }

        &-header{
            //border: 1px solid black;
            &--nf{
                padding: 1.5rem .8rem;
                // border: 1px solid black;
                border-bottom: .15rem solid #eeeeee;
                h5{
                    margin: 0;
                    text-transform: capitalize;
                    color: $secondary;
                }
            }
            
            &--menu{
                padding: 1.5rem 0;
                margin:  0 0 1.5rem 0;
                //border: 1px solid black;

                h6{
                    width: 100%;
                    text-align: center;
                    //border: 1px solid black;
                    font-size: 2rem;
                    font-weight: 600;
                    color: $secondary;
                    margin: 0;
                }
            

                //User Role
                span{
                    width: 100%;
                    font-weight: 1.8rem;
                    font-weight: 500;
                    text-align: center;
                    display: inline-block;
                    //border: 1px solid black;
                }
            }
        }

        &-body{
            //order: 1px solid red;

            &--nf{
                height: 100%;
                max-height: 100%;
                overflow: auto;
            
            }

            &--menu{
                //border: 1px solid red;
            }
        }

        &-snf{
            display:flex;
            background-color: $white;
            padding: 1.5rem .8rem;
            border-left: .3rem solid transparent;
            border-bottom: .15rem solid #eee;
        
            &:hover{
                border-color:#C1BABA12;
                border-left-color: $primary;
                background-color:#ececec91;
            }
            
            &-text{
                margin: 0 .5rem;
                //border: 1px solid black;
            }

            &-title{

                strong{
                    font-weight: 600;
                    color: #2d2d2d;
                }

                span{
                    font-weight: 500;
                    color: #2d2d2dd1;
                }
            }

            &-time{
                color: #868686;
            }
        }

        &-list{
            list-style-type: none;
            margin:0;
            padding:0;
        }
        
        &-item{
            //border: 1px solid black;
            &:not(:last-child){
                margin-bottom: 1rem;
                border-bottom: .15rem solid #eee;
            }
        }

        &-footer{
            //border: 1px solid black;
            border-top: .15rem solid #eeeeee;
            padding: 1.5rem 0 0 0;
            display: flex;
        }

        &-msg{
            //border: 1px solid black;
            margin: 2rem 0 0 0;
            p{
                width: 100%;
                font-size: 1.6rem;
                font-weight: 500;
                color: #4d4e59;
                margin: 0;
                display: flex;
                text-align: center;
                i{
                    color: #fba050;
                    margin: auto .3rem auto auto;
                }
    
                span{
                    margin: auto auto auto .3rem;
    
                }
            }
        }

    }


}

