//global scss
@import "../global";


// //importing sidebar css
@import "nav-sidebar-dashboard";



/* My posts/All Posts css starts */



.main-container{
    .no-post-msg{
        // background-color: red;
        margin-top: 5rem;
        .col-wrap{
            padding: 5rem 2rem;
            border: .15rem solid #eeeeee;
            background-color: $white;
            border-radius: .25rem;
            h3{
                text-align: center;
            }
            p{
                font-size: 1.5rem;
                font-weight: 500;
                color: gray;
                text-align: center;
            }
            .publish-btn{
                margin: 3rem 0 0 0;
            }
        }
    }
}



.my-posts{

    // border: 1px solid black;

    &__btn{
        border: none;
        background-color: transparent;
        display: inline-block;

        &--search{
            font-size: 1.4rem;
            color: #848484;
            &:hover,
            &:focus{
                color: $secondary;
            }
        }

        &--ddToggle{
            width: 100%;
            height: 100%;
            font-size: 1.4rem;
            padding: 0 .3rem;
            // background-color:red;
        
            svg{
                fill: #868686;
            }

            &:hover svg,
            &:focus svg{
                fill: $secondary;
            }
        
        }

        &--delete{
            width: 12rem;
            font-size: 1.4rem;
            color: #686868;
            background-color:$white;
            border: .15rem solid #eee;
            margin: 0 0 0 1rem;
            padding: 0 1rem;
            text-transform: capitalize;
            border-radius: .25rem;
            &:hover,
            &:focus{
                border-color: #d6d6d6;
                color: $secondary;
            }
        }

        &--delete &-icon{
           margin: 0 .15rem 0 0;
        }
        
        &--delete &-text{
            margin: 0 0 0 .15rem;
        }

        &--hide{
            display: none;
        }

    }


    

    &__img{
        display: block;
        object-fit: cover;
        object-position: center center;

        &--post{
            width: 13rem;
            height: 8.5rem;
            margin: 0 .5rem;
        }
    }


    &__container{
        padding: 2rem 15px;
        // border: 1px solid black;
    }

    &__row{
        // border: 1px solid red;
    }


    &__col{
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: $white;
        // border: 1px solid black;
    }
    

    &__col-head{
        border-bottom: .15rem solid #eee;
        // border: 1px solid black;
        margin: 0 0 2rem 0;
        padding: 1rem 15px;
       
    }
    
    &__title{
        margin: 0;
        // border: 1px solid black;

        &--main{
            padding: 0 0 0 .5rem;
            margin: auto -15px 1.5rem -15px;
            border-left: .3rem solid $primary;
            // border: 1px solid black;

        }

        &--post{
            color: #525252;
            // border: 1px solid black;
        }

        &--tbl{
            margin: auto .5rem auto 0;
            text-transform: capitalize;
            // border: 1px solid black;
        }
    }
    
    &__badge{
        font-size: .9rem;
        font-weight: 600;
        color: $white;
        border-radius: 3rem;
        background-color:gray;
        padding: .3rem .6rem;
        display: inline-block;
        text-transform: capitalize;
    
        &--status{
            margin: 0 0 0 0;
        }

        &--published{
            background-color: $primary;
        }

        &--draft{
            background-color: $secondary;
        }
    }

    &__topBar{
        margin-top: 1.5rem;
        //border: 1px solid red;
    }

    &__topBar-col{
        // border: 1px solid green;
        display: flex;
        padding: 0;

        @media (max-width: 767px){
            &--link{
                margin: 0 0 1rem 0;
            }
        }
        
        &--filter{  
            padding: 0 1rem 0 0;
        
        }
        
        &--search{
            padding: 0 0 0 1rem;
        }
    }

    &__topBar-list{
        margin: auto 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        // border: 1px solid black;
    }

    &__topBar-item{
        //border: 1px solid black;
        &:not(:last-child){
            margin: 0 .5rem 0 0;
        } 

        &:not(:last-child)::after{
            content: "|";
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 500;
            color: #848484;
        }
    }
        
    &__topBar-link{
        font-size: 1.4rem;
        font-weight: 500;
        color: #848484;
        //border: 1px solid black;
        &:hover,
        &--active{
            color: $secondary;
        }
    }

    &__select-box{
        width: 100%;
        margin:  auto 0;
        position: relative;

        &::after{
            content: "\f0d7";
            position: absolute;
            top: 0;
            bottom: 0;
            color: #868686;
            right: 1rem;
            font-size: 1.4rem;
            font-family: "fontawesome";
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    &__input{
        border: none;
        background-color: transparent;
        display: block;

        &--filter{
            width: 100%;
            height: 4rem;
            background-color: $white;
            border-radius: .25rem;
            padding: 0 0 0 .5rem;
            appearance: none;
            outline: none;
            font-size: 1.4rem;
            font-weight: 500;
            color: #848484;
            cursor: pointer;

            option{
                background-color: $white;
            }
        }

        &--search{
            width: 100%;      
            height: 4rem;
            font-size: 1.4rem;
            font-weight: 500;   
            padding: 0 0 0 .5rem;
        }

        &--checkbox{
            display: none;
            &:checked + .my-posts__label::after{
                display: flex;
                
            }
        }
    }   


    &__form{
        width: 100%;
        height: 100%;
        margin: auto 0;
        // border: 1px solid black;
    }

    &__form-field{
        display: flex;
        border-radius: .25rem;
        overflow: hidden;
        border: .15rem solid #eee;
        &--focused{
            border-color: $primary;
        }
    }
    

    &__col-body{
        // border: 1px solid black;
    }

    &__tbl-wrap{
        width: 100%;
        overflow-x: auto;
        position: relative;
        // border: 1px solid red;
    }

    &__tbl{
        width: 100%;
        min-width: max-content;
        border: .15rem solid #eee;
        background-color: $white;
    }

    &__thead{
        background-color: #e6e6e6;
    }

    &__tbody{
        background-color: $white;
    }

    &__tr{
        width: 100%;
        display: flex;
        border: .15rem solid transparent;
        
        &:nth-child(even){
            background-color: #f9f9f9;
        }
     
        &--thead{

        }
         
        &--tbody{

        }

        &--selected{
            border-color: $primary;
            background-color: #36b3321a  !important; 
        }
    }
    

    &__th,
    &__td{
        padding: 1.5rem 1rem;
        font-size: 1.4rem;
        border: .15rem solid #eee;
        &--title{
            width: 60%;
            // background-color: red;
        }

        &--read,
        &--likes,
        &--dislikes,
        &--comments{
            width: 10%;
            text-align: center;
        }
    }

    &__th{
        color: $secondary;
        font-weight: 600;
    }
    
    &__td{
        color: #6b6b6b;
        font-weight: 500;
    }



    &__th-wrap,
    &__td-wrap{
        height: 100%;
        // border: 1px solid black;
        display: flex;
       
    }

    &__th-text,
    &__td-text{
        margin: auto;
        // border: 1px solid red;
       
    }

    
    
    &__checkbox{
        display: flex;
        margin: 0 .5rem 0 0;
        // border: 1px solid black;
    }

    &__label{
        width: 1.8rem;
        height: 1.8rem;
        border-radius: .15rem;    
        display: block;
        margin: auto;
        border: .2rem solid #7b7b7b;
        position: relative;
        cursor: pointer;

        &:hover{
            border-color: $secondary;
        }
    
        &::after{
            width: 100%;
            height: 100%;
            content: "\f00c";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: $white;
            background-color: $primary;
            font-size: 1.2rem;
            font-family: "fontAwesome";
            display: none;
            justify-content: center;
            align-items: center;
        }
    }

    &__tbl-content{
        width: 100%;
        margin: 0 .5rem;
        // border: 1px solid black;
    }
    
    &__meta{
        margin: 1.5rem 0 0 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        // border: 1px solid black;
    }

    &__meta-item{
        font-size: 1.2rem;
        font-weight: 600;
        // border: 1px solid black;
        color: #868686;
        cursor: pointer;
        &:hover{
            color: $secondary;
        }

        &:not(:last-child){
            margin: 0 1rem 0 0;
        }
    }

    &__meta-icon{
        // border: 1px solid black;
    }

    &__meta-text{

       // border: 1px solid black;
    }

    &__dropdown{
        // border: 1px solid black;
        position: relative;
    }

    &__dropdown-opts{
        width: 15rem;
        position: absolute;
        top: 70%;
        right: 70%;
        border: .15rem solid #eee;
        z-index: 400;
        background-color: #FDFDFD;
        border-radius: .25rem;
        box-shadow: 0 0 .5rem .15rem #eee8e8;
        padding: .5rem;
        transform: scale(0);
        display: none;
        transform-origin: top right;
        transition: transform 150ms ease-in-out;
    

        &--block{
            display: block;
        }
        
        &--show{
            transform: scale(1);
        }
    }

  
    &__dropdown-list{
        margin: 0;
        padding: 0;
        list-style-type: none;
        // border: 1px solid black;
    }

    &__dropdown-item{
        //border: 1px solid black;
        &:not(:last-child){
            margin: 0 0 1rem 0;
            border-bottom: .15rem solid #eee;
       }
    }

    &__dropdown-link{
        width: 100%;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 500;
        color: #686868;
        padding: .8rem 0 .8rem 1rem;
        &:hover,
        &:focus{
            color: $secondary;
        }
    }

    &__dropdown-icon{
        margin: 0 .25rem 0 0;
    }

    &__dropdown-text{
        margin: 0 0 0 .25rem;
    }

    
    

    &__pagination{
        //border: 1px solid black;
        display: flex;
        margin: 2rem 0 0 0;
    }

    &__page-list{
        margin:  0 0 0 auto;
        padding: 0;
        list-style-type: none;
        display: flex;
    }

    &__page-item{
        &:not(:last-child){
            margin: 0 .5rem 0 0;
        }
    }

    &__page-link{
        font-size: 1.4rem;
        font-weight: 500;
        color: #868686;
        display: inline-block;
        padding: .2rem 1rem;
        border: .15rem solid #eee;
        border-radius: .25rem;

        &:hover,
        &:focus{
            color: $secondary;
        }

        &--active{
            color: $white;
            background-color: $primary;
        }
    }
}





/* My posts/All Posts css ends */



/* publish_post css starts */
.pp-sec{
    margin-top: 2rem;

    &__wrap{
        background-color: $white;
        padding-top: 2rem;
    }

    &__main-title{

        margin-bottom: 3rem;
        h1{
            color: #777777;
            text-align: center;
            margin: 0;
        }

    }

    &__form-row{
        margin-bottom: 2rem;
    }

    &__form-row--editor{

        .ck.ck-editor__main > .ck-editor__editable{
            height: 35rem;
        }
    }

    &__form-label{
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        color: #868686;
        margin: 0 0 .5rem 0;
        p{
            margin: 0 0 0 auto;
        }
        span{
            color: $secondary;
            font-weight: 600;
        }
    }

    &__form-label--error span{
       color: #ec4434;
    }

    &__dropzone{
        position: relative;
        cursor: pointer;
        border: .3rem dashed transparent;
        
        &:hover .pp-sec__dropzone-cap{
            transform: scaleY(1);
        }
        
        &:hover .pp-sec__dropzone-img{
            transition:  opacity 150ms ease-in-out;
            opacity: .7;
        }
    }

    &__dropzone--focused{
        border-color: $primary;
        transition: opacity 150ms ease-in-out;

        .pp-sec__dropzone-img{
            opacity: .7;
        }
    }

    &__dropzone-cap{

        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 1rem 0;
        color: #FDFDFDD1;
        background-color: #848484;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.8rem;
        transform: scaleY(0);
        font-weight: 500;
        transform-origin: bottom;
        transition: transform 150ms ease-in-out;
    }

    &__dropzone-cap--hide{
        display: none;
    }

    
    &__dropzone-img{
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
    }


    &__input-wrap{
        width: 100%;
        height: 6rem;
        position: relative;
    }
    
    &__input-wrap--select::after{
        content: "\f0d7";
        position: absolute;
        top: 0;
        bottom: 0;
        color: #868686;
        right: 1rem;
        font-size: 1.8rem;
        font-family: "fontawesome";
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    

    &__input{
        width: 100%;
        height: 100%;
        padding: 0 0 0 1.5rem;
        background-color: $white;
        border: .15rem solid #eeeeee;
        border-radius: .25rem;
        outline: none;
        font-weight: 500;
        font-size: 1.8rem;
        color: #868686;
        &:focus{
            border-color: #6cb5f9;
            box-shadow: 0 0 .15rem .1rem #6cb5f9;
        }
    }
    
    &__input--select{
        appearance: none;
        option{
            background-color: $white;
        }
    }

    &__input--file{
        display: none;
       
    }

    &__form-btn--hide{
        display: none;
    }

    &__form-btn--close{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: .15rem solid $secondary;
        background-color: transparent;
        font-size: 1.8rem;
        color: $secondary;
        position: absolute;
        top: 5%;
        right: 2%;

        &:hover,
        &:focus{
            border-color: $primary;
            color: $primary;
        }
    }

    &__form-msg{
        margin: .5rem 0 0 0;
        p{
            margin: 0;
            font-size: 1.6rem;
            font-weight: 500;
       
            display: flex;
        }
        i{
            margin: auto .3rem auto 0;
        }
        span{
            
            margin: auto 0 auto .3rem;
        }
    }

    &__form-msg--error p{
        color: #ec4434;
    }
}

/* publish_post css ends */


/* edit_post css starts */

.ep-sec{
    margin-top: 2rem;

    &__wrap{
        background-color: $white;
        padding-top: 2rem;
    }

    &__main-title{

        margin-bottom: 3rem;
        h1{
            color: #777777;
            text-align: center;
            margin: 0;
        }

    }

    &__form-row{
        margin-bottom: 2rem;
    }

    &__form-row--editor{

        .ck.ck-editor__main > .ck-editor__editable{
            height: 35rem;
        }
    }

    &__form-label{
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        color: #868686;
        margin: 0 0 .5rem 0;
        p{
            margin: 0 0 0 auto;
        }
        span{
            color: $secondary;
            font-weight: 600;
        }
    }

    &__form-label--error span{
       color: #ec4434;
    }

    &__dropzone{
        position: relative;
        cursor: pointer;
        border: .3rem dashed transparent;
        
        &:hover .ep-sec__dropzone-cap{
            transform: scaleY(1);
        }
        
        &:hover .ep-sec__dropzone-img{
            transition:  opacity 150ms ease-in-out;
            opacity: .7;
        }
    }

    &__dropzone--focused{
        border-color: $primary;
        transition: opacity 150ms ease-in-out;

        .pp-sec__dropzone-img{
            opacity: .7;
        }
    }

    &__dropzone-cap{

        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 1rem 0;
        color: #FDFDFDD1;
        background-color: #848484;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.8rem;
        transform: scaleY(0);
        font-weight: 500;
        transform-origin: bottom;
        transition: transform 150ms ease-in-out;
    }

    &__dropzone-cap--hide{
        display: none;
    }

    
    &__dropzone-img{
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
    }


    &__input-wrap{
        width: 100%;
        height: 6rem;
        position: relative;
    }
    
    &__input-wrap--select::after{
        content: "\f0d7";
        position: absolute;
        top: 0;
        bottom: 0;
        color: #868686;
        right: 1rem;
        font-size: 1.8rem;
        font-family: "fontawesome";
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    

    &__input{
        width: 100%;
        height: 100%;
        padding: 0 0 0 1.5rem;
        background-color: $white;
        border: .15rem solid #eeeeee;
        border-radius: .25rem;
        outline: none;
        font-weight: 500;
        font-size: 1.8rem;
        color: #868686;
        &:focus{
            border-color: #6cb5f9;
            box-shadow: 0 0 .15rem .1rem #6cb5f9;
        }
    }
    
    &__input--select{
        appearance: none;
        option{
            background-color: $white;
        }
    }

    &__input--file{
        display: none;
       
    }

    &__form-btn--hide{
        display: none;
    }

    &__form-btn--close{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: .15rem solid $secondary;
        background-color: transparent;
        font-size: 1.8rem;
        color: $secondary;
        position: absolute;
        top: 5%;
        right: 2%;

        &:hover,
        &:focus{
            border-color: $primary;
            color: $primary;
        }
    }

    &__form-msg{
        margin: .5rem 0 0 0;
        p{
            margin: 0;
            font-size: 1.6rem;
            font-weight: 500;
       
            display: flex;
        }
        i{
            margin: auto .3rem auto 0;
        }
        span{
            
            margin: auto 0 auto .3rem;
        }
    }

    &__form-msg--error p{
        color: #ec4434;
    }
}
/* edit_post css ends */


/* saved css stars */


.saved-posts{
    //border: 1px solid black;
    padding:3rem 0;

    &__btn{
        display: inline-block;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    
    &__btn--action{
        font-size: 1.8rem;
        padding: .5rem 1.5rem;
        margin: auto 0;
        color: #848484;
        &:hover,
        &:focus{
            color: $secondary;
        }
    }
    
    &__btn--browse{
        font-size: 1.4rem;
        font-weight: 400;
        color: $btn-primary-text;
        background-color: $btn-primary-bg;;
        padding: .8rem 1.6rem;
        margin: 0 auto;
        letter-spacing: .05rem;
        border-radius: .25rem;
        transition: all 200ms ease-in-out;
        text-align: center;
        &:hover,
        &:focus{
            color: $btn-primary-text;
            background-color:$btn-primary-hover;
        }

        &:focus,
        &:active{
            box-shadow: 0px 0px .2rem .1rem $btn-primary-shadow;
        }

    }
   
    
    &__img{
        object-fit: cover;
        display: block;
        object-position: center center;
    }

    &__img--post{
        width: 15rem;
        height:100%;
        //border: 1px solid black;
    }

    &__img--user{
        width: 3.5rem;
        height:3.5rem;
        border-radius: 50%;
        //border: 1px solid black;
    }

    &__link{
        display: inline-block;
        //border: 1px solid red;
    }

    &__link--postimg{
       // border: 1px solid black;
    }

    &__link--username{
        font-size: 1.4rem;
        font-weight: 500;
        color: #6a6969;
        margin: auto 0 auto 1rem;

        &:hover,
        &:focus{
            color: $secondary;
        }
    }

    &__link--postitle{
        font-weight: 600;
        color: $secondary;
        &:hover,
        &:focus{
            color: $secondary;
        }

    }



    &__container{
        //border: 1px solid red;
    }
    &__col{
        //border: 1px solid black;
    }

    &__col--noposts{
        margin: 0 auto;
        //border: 1px solid black;
        //border: 1px solid black;
    }
   
    &__col-wrap{
        background-color: $white;
        padding:15px 0;
        //border: 1px solid black;
    }
    
    &__head{
        border-bottom: .15rem solid #eeeeee;
        margin: 0 0 2rem 0;
        padding: 0 15px;
    }
    
    &__total{
        display: flex;
        margin: 0 0 1rem 0;
        //border: 1px solid black;
        p{
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0 0 0 auto;
            color: $secondary;
            text-transform: capitalize;
            cursor: pointer;
            //border: 1px solid black;
        }

        strong{
            font-weight: 500;
        }
        
    }


    

    &__single-row{
        display: flex;
        background-color: $white;
        margin: 0 0 0 0;
        padding: 2rem 15px;
        cursor: pointer;

        &:not(:last-child){
            border-bottom: .15rem solid #eee;
        }

        &:hover{
            background-color: #f7f7f7;
        }
        //border: 1px solid black;
    }

    &__content{
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        //border: 1px solid black;
    }

    &__title{
        margin: 0 0 0 0;
        //border: 1px solid black;
    }

    &__title--main{
        //border: 1px solid black;
        
    }

    &__title--post{
      
    }

    &__title--noposts{
        //border:1px solid black;
        text-align: center;
        margin: 0 0 2rem 0;
    }

    &__user-info{
        display: flex;
        margin: 1rem 0 .5rem 0;
        //border: 1px outset black;
    }

    &__action{
        display: flex;
        border-left: .15rem solid #eee;
        //border: 1px solid black;
        position: relative;
    }

    &__dropdown{
        width: 15rem;
        background-color: $white;
        box-shadow: 0 0 5px 0px #eae0e0;
        position: absolute;
        top: 70%;
        right: 65%;
        z-index: 100;
        display: none;
        transform: scale(0);
        transform-origin: top right;
        transition: transform 150ms ease-in-out;
    }

    &__dropdown--block{
        display: block;
    }

    &__dropdown--show{
        transform: scale(1);
    }
    
    &__dropdown-list{
        margin: 0;
        padding:0;
        list-style-type: none;
    }

    &__dropdown-item{

        &:not(:last-child){
            border: .15rem solid #eeeeee;
            margin: 0 0 1rem 0;
        }
    }

    &__dropdown-link{
        //border: 1px solid black;
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        color: #666666;
        padding: 1rem;
        i{
            margin: auto .3rem auto 0;
        }
        span{
            margin: auto 0 auto .3rem;
        }
        &:hover,
        &:focus{
            color: $secondary;
        }
    }
    &__noposts{
        background-color: $white;
        border: .15rem solid #f3f3f3;
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
    }
 

}






/* saved css ends */


